/* BOOTSTRAP */
/*@import 'bootstrap/dist/css/bootstrap.min.css';*/
/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* FLUX */
.flux {
    max-width: 1000px;
    margin: auto;
}