/* NEWS */
.carousel {
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel__content {
    position: relative;
}

.carousel__img {
    max-width: 100%;        
}

.carousel__prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;    
}

.carousel__next {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;    
}

.carousel__bar {
    position: absolute;
    bottom: 0;   
    width: 100%;
    padding-bottom: 15px;       
    display: flex;
    justify-content: center;
    gap: 40px;
}

.carousel__circle {
    width: 18px;
    height: 18px;    
    border-radius: 10px;
    background-color: white;
}

/* bouton du slide actif */
.active {
    background-color: #F5652F;
}